.blink {
	animation: blink-animation 1.5s infinite;
	-webkit-animation: blink-animation 1.5s infinite;
}
@keyframes blink-animation {
	0% {
		background-color: transparent;
	}
	50% {
		opacity: 0.6;
		background-color: rgb(236, 148, 136);
	}
	100% {
		background-color: transparent;
	}
}
@-webkit-keyframes blink-animation {
	0% {
		background-color: transparent;
	}
	50% {
		opacity: 0.6;
		background-color: rgb(236, 148, 136);
	}
	100% {
		background-color: transparent;
	}
}
